<h1>
  Test: <%= @test.title %>
</h1>

<table>
  <tr>
    <th width = '200'>Body</th>
    <th colspan ="3">Actions</th>
  </tr>
  <% @questions.each do |question| %>
  <tr>
    <td><%=question.body%></td>
    <td><%= link_to 'Show', question_path(question) %></td>
    <td></td>
    <td></td>
  </tr>
  <%end%>
</table>
