<h1>New question</h1>

<form action="<%=test_questions_path%>" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="new_question">Question:</label>
  <br/>
  <textarea id="new_question" type="text" name="question[body]"></textarea>
  <br/>
  <br/>

  <button type="submit">save</button>
</form>
