<div class="col-sm-3">
  <div class="card">
    <%= content_tag :img, nil, src: root_path + badge.picture.url, class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= badge.title %> </h5>
        <% if current_user.badges.exists?(badge.id) %>
        <div class="alert alert-success" role="alert">
          <%= t('.badge_received') %>
        </div>
        <% else %>
        <div class="alert alert-danger" role="alert">
          <%= t('.badge_not_received') %>
        </div>
        <% end %>
    </div>
  </div>
</div>
