<div class="col-sm-3">
  <div class="card">
    <%= content_tag :img, nil, src: root_path + badge.picture.url, class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= badge.title %> </h5>

    </div>
  </div>
</div>
