<div class="row justify-content-center mt-3">
  <div class="col col-md-6">
    <div class="alert alert-info" role="alert">
      <h3 class="alert-heading"><%= t('.header', title: @test_passage.test.title) %></h3>
    </div>
      <% result = result_in_persent(@test_passage) %>
      <% if @test_passage.success?(result) %>
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
          <p>Test Passed! Result =
          <font color ='green'>
      <% else %>
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Ohoh, No!</h4>
          Test Not Passed! Result =
          <font color ='red'>
      <% end %>
      <%= result %>%
          </font>

    </div>

    <p><%= button_to t('.back_to'), root_path, class: 'btn btn-primary', method: :get %></p>
  </div>
</div>
