<div ></div>

<div id= 'footer' >
<p>Copyright © <%=current_year%>. Олег Голобоородько.
    Проект: <%=github_url('tftp', 'test-guru')%> </p>
<p>Проект начального этапа для создания и прохождения тестов.</p>
<p><a href= "http://thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinknetica</a></p>
<p>
  <%= content_tag :img, nil, src: root_path + "b1.png", width: "120" %>
</p>
</div>
