<%= form_with  url:send_message_path, local: true do |form| %>

  <p>
    <%= form.label t('.send_us') %><br>
    <%= form .text_area  :body, rows: 7, cols: 60%>
  </p>

  <p>
    <%= form.submit t('.send')%>
  </p>

<% end %>
